<div class="container d-flex align-items-center">
    <div class="content mt-4 mb-4">
        <h1 class="text-center mt-4 mb-4">Sobre</h1>
        <div class="row g-0 pb-5">
            <div class="col-sm-6 d-flex align-items-center justify-content-center">
                <img src="../../../assets/images/adventure.svg" alt="">
            </div>
            <div class="col-sm-6 d-flex align-items-center text-center text">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, doloribus asperiores iusto dolorum et
                laboriosam voluptate. Expedita quia ducimus facere odio! Totam ducimus soluta atque fuga porro? Quod,
                perferendis saepe.</p>
            </div>
        </div>
    </div>
</div>